<!doctype html>
html(lang="en" class="h-100")
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item
                            a(class="nav-link active" href="/tela-login") Voltar para <strong>Login</strong>
                                span.sr-only (current)
    main(role="main" class="flex-shrink-0")
        div.container.mt-5
            br
            h1(id ="titleContent align-item-center" class="mt-2 ml-2") Criando Consulta
            br
            div.row 
                div.col-lg-12
                    div.row 
                        div.col-lg-12.justify-content-center 
                            p.title Selecione um horario disponível.
                                          