<!doctype html>
html(lang="en")
    include ../includes/head.pug
    body.bg-light.border
        div.container.bg-cinza
            div.py-5.text-center
                img(class="d-block mx-auto mb-4" src="../img/logo.png" alt="" width="72" height="72")
                h2 #{usuario_retornado.mensagem} 
                p.lead Aqui serão cadastrados os dados do paciente para assim ser feita a marcação da sua consulta. Não se preocupe esse cadastro só é feito uma vez. Ou <a href="/home"><strong> Voltar a Home</strong></a>.
                hr
            div.row
                div.form-group.col-lg-12
                    h4(id="title" class="conclusaoLink pt-3") Dados Cadastrados            
            form(name="form1" action=`/enviar-dados-edicao/+ ${usuario_retornado.identificador}` method="post" class="needs-validation")
                each u in usuario_retornado.usuario
                    div.row
                        div.col-lg-6.mb-3
                            label(for="nome") Primeiro Nome
                            input(type="text" name="nome" class="form-control" id="nome" placeholder="Digite aqui seu primeiro nome..." value=`${u.primeiroNome}` required disabled)
                            div.invalid-feedback Nome inválido!
                        div.col-md-12.col-lg-6.col-sm-12
                            label(for="sobrenome") Sobrenome
                            input(type="text" name="sobrenome" class="form-control" id="sobrenome" placeholder="Digite aqui o resto do seu nome..." value=`${u.sobrenome}` required disabled)
                            div.invalid-feedback Sobrenome inválido!   
                            input(type="hidden", name="id" id="id" value=`${usuario_retornado.identificador}`)         
                    div.row.form-group 
                        div.col-lg-12.col-md-12.col-sm-12
                            label(for="email") Email
                            div.input-group
                                div.input-group-prepend
                                    span.input-group-text @
                                input(type="email" name="email" class="form-control" id="email" placeholder="email@exemplo.com" onblur="validaEmail()" value=`${u.email}` required)
                                div(class="invalid-feedback" style="width: 100%;") Sem email válido.
                    div.row
                        div.form-group.col-lg-6.col-sm-6.col-md-6
                            label(for="senha") Senha
                            div.input-group
                                div.input-group-prepend
                                    span.input-group-text * 
                                input(type="password" name="senha" class="form-control" id="senha" placeholder="Digite a senha que você usará para acessar... " value=`${u.senha}` onblur="validaSenha()" required)
                                div(class="invalid-feedback" style="width: 100%;") Sem senha válida.
                        div.form-group.col-lg-6.col-sm-6.col-md-6
                            label(for="confirmar_senha") Confirmar Senha
                            div.input-group
                                div.input-group-prepend
                                    span.input-group-text *
                                input(type="password" name="confirmar_senha" class="form-control" id="confirmar_senha" placeholder="Confirme a senha acima... " value="" onblur="validaSenha()" required)
                                div(class="invalid-feedback" style="width: 100%;") Sem senha válida.    
                    div.row
                        div.col-lg-6.col-sm-12.col-md-5
                            label(for="telefone") Telefone
                            div.input-group-prepend
                                span(class="input-group-text" id="validatedInputGroupPrepend") Nº
                                input(type="telefone" name="telefone" class="form-control" id="telefone" placeholder="Digite só números-Exemplo 099 9 9999 9999" onkeypress="mascara(this, '### # #### ####')" value=`${u.telefone}` maxlength="15")
                            div.invalid-feedback Telefone em formato incorreto.
                        div.form-group.col-lg-6.col-sm-12.col-md-7
                            label(for="endereco") Endereço
                            input(type="text" name="endereco" class="form-control" id="endereco" value=`${u.endereco}` placeholder="Rua ou região, Nº, Cidade" required)
                            div.invalid-feedback Por favor, informe seu endereço            
                    div.row
                        div.form-group.col-lg-6.col-md-6.col-sm-12
                            label(for="cidade") Cidade
                            select(class="custom-select d-block w-100" name="cidade" id="cidade" required)
                                if u.senha == "Casa Grande" 
                                    option(value=`${u.cidade}`) 
                                else
                                    option Casa Grande
                                    option Outra...
                            div.invalid-feedback Cidade Inválida.
                        div.form-group.col-lg-6.col-md-6.col-sm-12
                            label(for="regiao") Região
                            select(name="regiao" class="custom-select d-block w-100" id="regiao" required)
                                option(value="") Clique...
                                option Cachoeira
                                option Casa Grande
                                option Córrego Fundo
                                option Outra...
                            div.invalid-feedback Região Inválida
                    div.row
                        div.form-group.col-lg-4.col-md-6.col-sm-6
                            label(for="idadePaciente") Idade
                            div.input-group
                                div.input-group-prepend
                                    span.input-group-text Nº
                                input(type="text" name="idadePaciente" data-js="idadePaciente" class="form-control" id="idadePaciente" value=`${u.idade}` placeholder="Digite a idade aqui..." maxlength="3" required)                       
                        div.form-group.col-sm-6.col-md-6.col-lg-8
                            label(for="cartSUS") Cartão do SUS
                            input(type="text" class="form-control" id="cartSUS" name="cartSUS" placeholder="Digite o número aqui..." value=`${u.cartaoSUS}` required onblur="contarCaracter(this.length)" onkeypress="mascara(this, '### #### #### ####')" maxlength="18")   
                            div.invalid-feedback Cartão Incorreto 
                    div.row
                        div.form-group.col-lg-6.col-sm-6.col-md-6
                            script(src="./js/Index.js")
                            label(for="cpf") CPF
                            input(type="text" name="cpf" data-js="cpf" class="form-control" id="cpf" placeholder="CPF" value=`${u.cpf}` required onkeypress="mascara(this, '###.###.###-##')" maxlength="14")
                            small.text-muted Digite apenas os números<strong>↑↑↑↑</strong>
                            div.invalid-feedback Número Requerido!
                        div.form-group.col-lg-6.col-sm-6.col-md-6
                            label(for="sexo") Sexo
                            div.form-check
                                input(id="sexo" name="sexo" type="radio" class="form-check-input" value=`${u.sexo}` checked required)
                                label(class="form-check-label" for="S_Masculino") #{u.sexo} 
                    div.row
                        hr.col-lg-12.col-sm-12.col-md-12
                    div.d-block.my-3
                    div.row.justify-content-center
                        button(class="btn btn-primary btn-lg btn-block col-lg-8" type="submit" onclick="validar()") Continuar
                        hr.col-sm-12.col-md-12.col-lg-12.mb-4
            include ../includes/footer.pug 
    script(src="./js/Index.js")
    script(src="./js/jquery.js")
    script(src="./js/bootstrap.bundle.min.js")
    script(src="./js/Index.js")
    script(src="./js/bootstrap.js")
    script(src="./js/form-validation.js")
