<!doctype html>
html(lang="en" class="h-100")
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item
                            a(class="nav-link active" href="/tela-login") Voltar para <strong>Login</strong>
                                span.sr-only (current)
    main(role="main" class="flex-shrink-0")
        div.container.mt-5
            br
            h1(id ="titleContent align-item-center" class="mt-2 ml-2") #{usuario_logado.mensagem} #{usuario_logado.user}
            <br/>
                each u in usuario_logado.usuario
                    div.row.justify-content-center
                        div(class="container col-lg-6 col-md-6 col-sm-12 justify-content-center p-3 color-blue")
                            a(class="btn btn-primary" href="/tela-consulta/"+ u.idUsuario)
                                div(class="card-body m-0")
                                    div.row.mb-3
                                        div.col-lg-4
                                            svg(xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-file-medical" viewBox="0 0 16 16")
                                                path(d="M8.5 4.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L7 6l-.549.317a.5.5 0 1 0 .5.866l.549-.317V7.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L9 6l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V4.5zM5.5 9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z")
                                                path(d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z")
                                        div(class="col-lg-8 container p-5")
                                            p(class="lead options-login mb-0")
                                                strong  Criar uma consulta!
                        div(class="container col-lg-6 col-md-6 col-sm-12 justify-content-center p-3 ")
                            a(class="btn btn-primary" href="/edicao-dados/"+ u.idUsuario)
                                div(class="card-body m-0")
                                    div.row.mb-3
                                        div.col-lg-4
                                            svg(xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16")
                                             path(d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                                             path(d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z")
                                        div(class="col-lg-8 container p-5")
                                            p(class="lead options-login mb-0")
                                                strong  Editar meus dados!
        script(src="/js/Index.js")
        script(src="/js/jquery.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/Index.js")
        script(src="/js/bootstrap.js")                                          
    include ../includes/footer.pug
