<!doctype html>
html(lang="en")
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.text-center.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="./img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item.active
                            a(class="nav-link" href="/tela-login") Login
                                span.sr-only (current)
        main(role="main" class="flex-shrink-0")
            div.container.mt-5
                img(class="mb-4" src="./img/logo.png" alt="" width="72" height="72")
                h1.h3.mb-3.font-weight-normal Entrar
                form(name="form2" class="form-signin was-validated" action="/logar" method="post")
                    div.container.mt-5
                        div.container-fluid.mb-4
                            div.row.justify-content-center.m-3
                                div.form-group.col-lg-8.col-md-6.col-sm-8
                                    input(type="email" name="emails" class="form-control" id="emails" placeholder="Email..." required)
                                    div(class="invalid-feedback" style="width: 100%;") Sem email válido.
                            div.row.justify-content-center.m-3
                                div.form-group.col-lg-8.col-md-6.col-sm-8
                                    input(type="password" name="pass" class="form-control" id="pass" placeholder="Senha... " required)
                                    div(class="invalid-feedback" style="width: 100%;") Sem senha válida.
                            div.row.justify-content-center.m-3
                                div.form-group.col-lg-8.col-md-6.col-sm-8
                                    button(class="btn btn-lg btn-primary btn-block" type="submit") Entrar
                                    p.mt-5.mb-2.text-muted Entre para marcar!!
        include ../includes/footer.pug
    script(src="./js/Index.js")
    script(src="./js/jquery.js")
    script(src="./js/bootstrap.bundle.min.js")
    script(src="./js/Index.js")
    script(src="./js/bootstrap.js")


