<!doctype html>
<html lang="en" class="h-100">
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon 
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item
                            a(class="nav-link active" href="/todos-horarios") Voltar para <strong>Ver Horários</strong>
                                span.sr-only (current)
    main(role="main" class="flex-shrink-0")
    div.container.mt-5
        br
        h1(id ="titleContent" class="mt-5") #{horario.message}<br>
        br
        p(class="lead") Dados inseridos:
        table.container.table.border-table
            thead.thead-dark    
                tr.tituloTabela.tr_th
                    th.col ID
                    th.col Médico
                    th.col Dia da Semana
                    th.col Horário
                    th.col Local 
                tr
                    td #{horario.id}
                    td #{horario.nomeMedico}
                    td #{horario.diaSemana}
                    td #{horario.horario}
                    td #{horario.localidade}           
        a(class="btn btn-primary btn-lg btn-block mt-5" href="/todos-horarios" role="button") Voltar       
    script(src="./js/Index.js")
    script(src="./js/jquery.js")
    script(src="./js/bootstrap.bundle.min.js")
    script(src="./js/Index.js")
    script(src="./js/bootstrap.js")                            
    include ../includes/footer.pug             
