<!doctype html>
<html lang="en" class="h-100">
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="./img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon 
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item
                            a(class="nav-link active" href="/tela-login") Voltar para <strong>fazer login</strong>
                                span.sr-only (current)
    main(role="main" class="flex-shrink-0")
    div.container.mt-5
        br
        h1(id ="titleContent" class="mt-5") #{usuario.message}<br>
        br
        p(class="lead") Dados inseridos - Ficha:
        table
            table.container.table.table-bordered.table-primary.dark_blue
                tbody                
                    tr
                        td.tituloTabela.tr_th Nome:
                        td #{usuario.primeiroNome}
                    tr
                        td.tituloTabela.tr_th Sobrenome:
                        td #{usuario.sobrenome}
                    tr
                        td.tituloTabela.tr_th email
                        td #{usuario.email}
                    tr
                        td.tituloTabela.tr_th Telefone:
                        td #{usuario.telefone}
                    tr    
                        td.tituloTabela.tr_th Endereço:
                        td #{usuario.endereco}
                    tr
                        td.tituloTabela.tr_th Cidade:
                        td #{usuario.cidade}
                    tr    
                        td.tituloTabela.tr_th Região:
                        td #{usuario.regiao}    
                    tr    
                        td.tituloTabela.tr_th Idade:
                        td #{usuario.idade}
                    tr    
                        td.tituloTabela.tr_th Nº do Cartão do Sus:
                        td #{usuario.cartaoSUS}
                    tr    
                        td.tituloTabela.tr_th CPF:
                        td #{usuario.cpf}  
                    tr    
                        td.tituloTabela.tr_th Sexo:
                        td #{usuario.sexo}      
            script(src="./js/Index.js")
            script(src="./js/jquery.js")
            script(src="./js/bootstrap.bundle.min.js")
            script(src="./js/Index.js")
            script(src="./js/bootstrap.js")                            
    include ../includes/footer.pug             
