doctype html
html.h-100
    include ../includes/head.pug
    body.d-flex.flex-column.h-100.bodypage
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bgdark
                a(class="navbar-brand" href="#")
                    img(id="ConsultaLogo" src="./img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="Consulta Rápida")
                    a(class="navbar-brand white" href="#") <strong>| Consulta Rápida |</strong>
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    <span class="navbar-toggler-icon">
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul(class="navbar-nav mr-auto")
                        li.nav-item
                            a(class="nav-link" href="/home") Home
                        li.nav-item
                            a(class="nav-link active" href="#") Ver Horários 
                                span.sr-only (current)
                        li.nav-item
                            a(class="nav-link" href="/criar-consulta") Criar Consulta
                        li.nav-item
                            a(class="nav-link" href="/tela-login") Login 
        main(role="main" class="flex-shrink-0")
            div.container
                h1(class="TítuloHorario") #{dadosHorarios.tituloPagina}
                br
                table.container
                    tr.tituloTabela.tr_th
                        <th>ID</th>
                        <th>Médico</th>
                        <th>Dia da Semana</th>
                        <th>Horário</th>
                        <th>Local</th>
                        <th>Apagar</th>
                        <th>Editar</th>
                    each u in dadosHorarios.Horarios    
                        tr
                            td= u.idhorarios
                            td= u.nomeMedico
                            td= u.diaSemana
                            td= u.horario
                            td= u.localidade 
                            td 
                                a(class="btn btn-outline-danger" href='/delete/'+u.idhorarios) Apagar
                            td 
                                a(class="btn btn-outline-dark" href='/edicao/'+u.idhorarios) Editar
                hr.traco
                div.container
                    h3
                        p(class="TítuloHorario") Cadastrar Horário:
                    form(class='was-validated backgroundCinza' name='adicao' method='post' action='/horario')
                        div.backgroundCinza
                            div.row
                                div.col-lg-12.col-md-12.col-sm-12
                                    br
                        div.row.justify-content-center
                            div.col-md-8.col-lg-8.col-sm-8.mb-3 
                                label(for='medicoName') Médico:
                                input(type='text' name='medico' class='form-control' id='medicoName' placeholder='Digite aqui...' value='' required)
                                div.invalid-feedback Sem <strong>Nome</strong> digitado!
                        div.row.justify-content-center
                            div.col-md-8.col-lg-8.col-sm-8.mb-3
                                label(for='horario') Horário:
                                input(type='text' name='horario' class='form-control' id='horario' maxlength='5' placeholder='Digite aqui...' value='' required)
                                div.invalid-feedback Sem <strong>Horário</strong> digitado!
                        div.row.justify-content-center 
                            div.col-md-8.col-lg-8.col-sm-8.mb-3
                                label(for='diaSemana') Dia da Semana:
                                select(name='diaSemana' class='custom-select d-block w-100' id='diaSemana' required)
                                    option(value='') Clique...
                                    option Segunda-feira
                                    option Terça-feira
                                    option Quarta-feira
                                    option Quinta-feira
                                    option Sexta-feira
                                    option Sábado
                        div.row.justify-content-center 
                            div.col-md-8.col-lg-8.col-sm-8.mb-3
                                label(for='local') Localidade:
                                select(name='localidade' class='custom-select d-block w-100' id='local' required)
                                    option(value='') Clique...
                                    option Cachoeira
                                    option Casa Grande
                                    option Córrego Fundo
                        div.row
                            div.col-lg-12.col-md-12.col-sm-12
                                <br>
                        div.row
                            div.col-lg-12.col-md-12.col-sm-12 
                                <br>
                        div.row.justify-content-center
                            div.col-lg-8.col-sm-8.col-md-8.mb-3
                                p
                                    button(class='btn btn-primary btn-lg btn-block' type='submit') Continuar
            
            script(src="./js/Index.js")
            script(src="./js/jquery.js")
            script(src="./js/bootstrap.bundle.min.js")
            script(src="./js/Index.js")
            script(src="./js/bootstrap.js")                            
        include ../includes/footer.pug                   