/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 0.5em;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
div#conteudo{
  align-items: center;
  align-self: center;
  align-content: center;
}
