p.entradas{
  color: black;
  font-size: 18px;
}
#horarios{
  align-items: center;
  padding: 15px;
  margin: auto;
  align-content: center;
  text-shadow: 1px;
}
#conteiner{
  flex: content;
  align-self: center;
  align-items: center;
  background-color: burlywood;
  width: 75%;
  height: 45%;
  vertical-align: top;
}
h4#title{
  color: blue;
  text-align: center;
  text-decoration-color: blue;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-brand:hover{
  cursor: default;
}
.bgdark {
  background-color: #599ee2!important;
}
.bg-cinza{
  background-color:  rgba(222, 219, 230, 0.5);
}
.nav-link:hover{
  background-color: #5862ec;
  border-style: double;
  color: white;
  font-weight: bolder;
}
.initContent {
  font-family: "Ubuntu",sans-serif ;
  font-size: 1.25rem;
  font-weight: 300;
}
h4#title.h4Cadastro{
  background-color:#f5f5f5;
  margin-bottom: 10px;
}

.TítuloHorario{
  margin-top: 3rem!important;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
table.tabelaMedicos, th, td {
  border: 1px solid gray;
  padding: 2px;
  border-radius: unset;
  align-items: center;
  font-size: 1.2rem;
  border-width: 0.1rem;
  border-color: rgb(40, 7, 77);
  padding: 0.3rem;
  text-align: center;
}
.text-mute {
  color: #6c757d!important;
  text-align: center;
  font-size: 0.8rem;
}
.bodypage {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f5f5f5;
}

*, ::after, ::before {
  box-sizing: border-box;
}
.containerCenter{
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.input-group-text2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: default;
}
.sucess{
  color: #34ff00;
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: medium;
}
.conclusaoLink{
  border-color: #005cbf;
  text-decoration-color: #34ff00;
  text-decoration: inherit;
}

.btn-primario {
  color:darkblue;
  background-color: #007bff;
  border-color: #007bff;
}
.backgroundCinza{
  background-color:#dae0e5;
  color: dodgerblue;
}
.traco{
  border: 3px;
  border-style:groove;
}
.tr_th{
  background-color: #b9bbbe;
}
.border{
  border-color: #062c33!important;
  border-radius: 3px!important;
  border-style: double!important;
  border-spacing: 5px;
}
.position{
  position: center;
}
#lembrar:hover{
  cursor: pointer!important;
  background-color: #b9bbbe!important;
  color: white!important;
}
a.black-link{
  color: black;
}
.white{
  color: white !important;
}
 label.form-check-label:hover, input.form-check-input:hover{
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.dark_blue{
  color: darkblue;
}
.border-table{
  border-style: groove;
}
.options-login{
  font-size: 1.9rem !important;
  border: 5px!important;
  text-decoration: #0c5460;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: white;
  text-align: center;

}
.options-login:hover{
  text-decoration-style: dashed;
}
.color_blue{
  background-color: #eeeeee!important;
}
