head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(rel="sortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="canonical", href="https://getbootstrap.com/docs/4.5/examples/sticky-footer-navbar/", type="text/css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous", type="text/css")   
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    link(href="/css/sticky-footer-navbar.css", rel="stylesheet", type="text/css")
    link(href="/css/form-validation.css" rel="stylesheet")
    title Consulta Rápida